.custom-category-card {
    width: 100%;
    max-width: 18rem;
    height: auto; /* Điều chỉnh chiều cao tự động */
    border-radius: 50%;
    overflow: hidden;
}

.custom-category-card .card-img-wrapper {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-category-card img {
    margin: 10px;
    width: 70%;
    height: 100%;
    object-fit: cover;
}


.error-message {
    color: #ff3636e0;
    font-size: 0.8em;
    font-weight: bold;
}


footer {
    background-color: #004d99; /* Darker primary color for a more elegant look */
}

footer h5 {
    font-weight: bold;
    margin-bottom: 20px;
}

footer p, footer a {
    color: #dcdcdc;
}

footer a:hover {
    color: #ffffff;
}

footer .fab {
    transition: color 0.3s;
}

footer .fab:hover {
    color: #ffa500;
}
